{% extends "webdev/base.html" %}

{% block title %}
    Day 1: HTML
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Day 1: HTML</h1>
        <h3>Summary</h3>
        <p>In this session, we discussed on what's website, how are websites made, what's HTML and how to build your first website.</p>
        <h3>Resources</h3>
        <ul>
            <li><a href="https://res.cloudinary.com/boyuan12/image/upload/v1657561033/HTML_p3wkci.pdf">Slide</a></li>
            <li>
                Source Code
                <ul>
                    <li>PDF
                        <ul>
                            <li><a href="https://res.cloudinary.com/boyuan12/image/upload/v1657561788/index.html_nqss5w.pdf">index.html</a></li>
                        </ul>
                    </li>
                    <li><a href="https://replit.com/@boyuan12/day1">Replit</a></li>
                    <li><a href="https://res.cloudinary.com/boyuan12/raw/upload/v1657561266/day1_td2thj.zip">Zip</a></li>
                </ul>
            </li>
            <li><a href="/pset1">Problem Set #1: First Website</a></li>
        </ul>
    </div>
{% endblock %}