{% extends "webdev/base.html" %}

{% block title %}
    Day 1: HTML
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Day 1: HTML</h1>
        <h3>Summary</h3>
        <p>In this session, we discussed on what's website, how are websites made, what's HTML and how to build your first website.</p>
        <h3>Resources</h3>
        <ul>
            <li>Slide</li>
            <li>Source Code</li>
            <li><a href="/pset1">Problem Set #1: First Website</a></li>
        </ul>
    </div>
{% endblock %}