{% extends "webdev/base.html" %}

{% block title %}
    Day 1: HTML
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Day 2: CSS</h1>
        <h3>Summary</h3>
        <p>In this session, we discussed on how to style a website by using CSS (Cascading Style Sheet)</p>
        <h3>Resources</h3>
        <ul>
            <li>Slide</li>
            <li>Source Code</li>
            <li><a href="/pset2">Problem Set #2: Styling The Website</a></li>
        </ul>
    </div>
{% endblock %}