{% extends "webdev/base.html" %}

{% block title %}
    Day 3: JavaScript
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Day 3: JavaScript</h1>
        <h3>Summary</h3>
        <p></p>
        <h3>Resources</h3>
        <ul>
            <li>No slide used for this session</li>
            <li>
                Source Code
                <ul>
                    <li>
                        PDF
                        <ul>
                            <li><a href="https://res.cloudinary.com/boyuan12/image/upload/v1657733189/index.js_hmmjph.pdf">index.js</a></li>
                            <li><a href="https://res.cloudinary.com/boyuan12/image/upload/v1657755921/pset3.js_otcim4.pdf">index.js</a></li>
                        </ul>
                    </li>
                    <li><a href="https://replit.com/@boyuan12/day3">replit</a></li>
                    <li><a href="https://res.cloudinary.com/boyuan12/raw/upload/v1657756007/day3_juavam.zip">Zip</a></li>
                </ul>
            </li>
            <li><a href="/pset3">Problem Set #3: JS Challenge</a></li>
        </ul>
    </div>
{% endblock %}