{% extends "webdev/base.html" %}

{% block title %}
    Day 4: JS and DOM
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Day 4: JS and DOM</h1>
        <h3>Summary</h3>
        <p>In this session, we discussed how to manipulate and interact with DOM (Document Object Model) with JavaScript</p>
        <h3>Resources</h3>
        <ul>
            <li>Slide</li>
            <li>Source Code</li>
            <li><a href="/pset4">Problem Set #4: DOM Challenge</a></li>
        </ul>
    </div>
{% endblock %}