{% extends "webdev/base.html" %}

{% block title %}
    Day 5: APOD API
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Day 6: Python</h1>
        <h3>Summary</h3>
        <video src="https://introwebdev.s3.us-west-1.amazonaws.com/day6.mp4" width="720px" height="480px" controls style="margin: none;"></video>
        <h3>Resources</h3>
        <ul>
            <li>No slide used for this session</li>
            <li>
                Source Code
                <!-- <ul>
                    <li>PDF</li>
                    <ul>
                        <li><a href="https://res.cloudinary.com/boyuan12/image/upload/v1657818823/index.html_1_k3y33i.pdf">index.html</a></li>
                        <li><a href="https://res.cloudinary.com/boyuan12/image/upload/v1657818988/script.js_st7mku.pdf">script.js</a></li>
                        <li><a href="https://res.cloudinary.com/boyuan12/image/upload/v1657819186/shopping.html_gcgjeu.pdf">shopping.html</a></li>
                    </ul>
                    <li><a href="https://replit.com/@boyuan12/day4">Replit</a></li>
                    <li><a href="https://res.cloudinary.com/boyuan12/raw/upload/v1657819302/day4_phr1of.zip">Zip</a></li>
                </ul> -->
            </li>
            <li><a href="/pset6">Problem Set #6: PY Challenge</a></li>
        </ul>
    </div>
{% endblock %}