{% extends "webdev/base.html" %}

{% block title %}
    Day 5: APOD API
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Day 8: Database</h1>
        <h3>Summary</h3>
        <video src="https://introwebdev.s3.us-west-1.amazonaws.com/day7.mp4" width="720px" height="480px" controls style="margin: none;"></video>
        <h3>Resources</h3>
        <ul>
            <li>No slide used for this session</li>
            <li>
                Source code
                <ul>
                    <li><a href="https://replit.com/@boyuan12/day8">Replit</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}