{% extends "webdev/base.html" %}
{% load mathfilters %}

{% block title %}
    Gradebook
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Gradebook for {{ request.user.username }}</h1>
        <p>Problem Set #1: First Website</p>
        {% if pset1.data.passed|div:pset1.data.all >= 0.6 %}
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ pset1.data.passed|div:pset1.data.all|mul:100|floatformat }}%;" aria-valuenow="{{ pset1.data.passed|div:pset1.data.all|mul:100|floatformat }}" aria-valuemin="0" aria-valuemax="100">{{ pset1.data.passed|div:pset1.data.all|mul:100|floatformat }}%</div>
        </div>
        {% else %}
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ pset1.data.passed|div:pset1.data.all|mul:100|floatformat }}%;" aria-valuenow="{{ pset1.data.passed|div:pset1.data.all|mul:100|floatformat }}" aria-valuemin="0" aria-valuemax="100">{{ pset1.data.passed|div:pset1.data.all|mul:100|floatformat }}%</div>
        </div>
        {% endif %}
        <br>
        <p>Problem Set #2: Styling the Website</p>
        {% if pset2.data.passed|div:pset2.data.all >= 0.6 %}
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ pset2.data.passed|div:pset2.data.all|mul:100|floatformat }}%;" aria-valuenow="{{ pset2.data.passed|div:pset2.data.all|mul:100|floatformat }}" aria-valuemin="0" aria-valuemax="100">{{ pset2.data.passed|div:pset2.data.all|mul:100|floatformat }}%</div>
        </div>
        {% else %}
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ pset2.data.passed|div:pset2.data.all|mul:100|floatformat }}%;" aria-valuenow="{{ pset2.data.passed|div:pset2.data.all|mul:100|floatformat }}" aria-valuemin="0" aria-valuemax="100">{{ pset2.data.passed|div:pset2.data.all|mul:100|floatformat }}%</div>
        </div>
        {% endif %}
        <br>
        <p>Problem Set #3: JS Challenge</p>
        {% if pset3.data.passed|div:pset3.data.all >= 0.6 %}
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ pset3.data.passed|div:pset3.data.all|mul:100|floatformat }}%;" aria-valuenow="{{ pset3.data.passed|div:pset3.data.all|mul:100|floatformat }}" aria-valuemin="0" aria-valuemax="100">{{ pset3.data.passed|div:pset3.data.all|mul:100|floatformat }}%</div>
        </div>
        {% else %}
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ pset3.data.passed|div:pset3.data.all|mul:100|floatformat }}%;" aria-valuenow="{{ pset3.data.passed|div:pset3.data.all|mul:100|floatformat }}" aria-valuemin="0" aria-valuemax="100">{{ pset3.data.passed|div:pset3.data.all|mul:100|floatformat }}%</div>
        </div>
        {% endif %}
        <br>
        <p>Problem Set #4: DOM Challenge</p>
        {% if pset4.data.passed|div:pset4.data.all >= 0.6 %}
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ pset4.data.passed|div:pset4.data.all|mul:100|floatformat }}%;" aria-valuenow="{{ pset4.data.passed|div:pset4.data.all|mul:100|floatformat }}" aria-valuemin="0" aria-valuemax="100">{{ pset4.data.passed|div:pset4.data.all|mul:100|floatformat }}%</div>
        </div>
        {% else %}
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ pset4.data.passed|div:pset4.data.all|mul:100|floatformat }}%;" aria-valuenow="{{ pset4.data.passed|div:pset4.data.all|mul:100|floatformat }}" aria-valuemin="0" aria-valuemax="100">{{ pset4.data.passed|div:pset4.data.all|mul:100|floatformat }}%</div>
        </div>
        {% endif %}
        <p>Problem Set #5: Weather App</p>
        {% if pset5.data.passed|div:pset4.data.all >= 0.6 %}
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ pset5.data.passed|div:pset5.data.all|mul:100|floatformat }}%;" aria-valuenow="{{ pset5.data.passed|div:pset5.data.all|mul:100|floatformat }}" aria-valuemin="0" aria-valuemax="100">{{ pset5.data.passed|div:pset5.data.all|mul:100|floatformat }}%</div>
        </div>
        {% else %}
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ pset5.data.passed|div:pset5.data.all|mul:100|floatformat }}%;" aria-valuenow="{{ pset5.data.passed|div:pset5.data.all|mul:100|floatformat }}" aria-valuemin="0" aria-valuemax="100">{{ pset5.data.passed|div:pset5.data.all|mul:100|floatformat }}%</div>
        </div>
        {% endif %}
    </div>
{% endblock %}