{% extends "webdev/base.html" %}

{% block title %}
    Problem Set #6
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Day 6: Python</h1>
        <h2>Pset 6: PY Challenge</h2>
        <p>Problem Description: Given a string and a non-negative int n, return a larger string that is n copies of the original string.</p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="file" class="form-label">File Upload</label>
              <input type="file" class="form-control" id="file" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <small><a href="https://codingbat.com/prob/p193507">Original Problem</a></small>
{% endblock %}