{% extends "webdev/base.html" %}

{% block title %}
    Day 1: HTML
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Day 1: HTML</h1>
        <h2>Problem Set #1: First Website</h2>
        <p>For this problem set, create a website about anything you'd like (can be yourself, pet, favorite book or even food). Make sure the website met following requirements:</p>
        <ul>
            <li>At least 2 headings</li>
            <li>At least 3 paragraphs</li>
            <li>At least 1 ordered list</li>
            <li>At least 1 unordered list</li> 
            <li>At least 2 images</li>
            <li>At least 1 hyperlink</li> 
            <li>At least 1 bold text</li> 
            <li>At least 1 italic text</li> 
            <li>At least 1 underlined text</li>
        </ul>

        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="url" class="form-label">URL to your website</label>
              <input type="url" class="form-control" id="url" name="url">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}