{% extends "webdev/base.html" %}

{% block title %}
    Day 4: JS & DOM
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Day 4: JavaScript</h1>
        <h2>Pset 4: DOM Challenge</h2>
        <p>Problem Description: Given two int values, return their sum. Unless the two values are the same, then return double their sum.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="url" class="form-label">URL to your website</label>
              <input type="url" class="form-control" id="url" name="url">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}