{% extends "webdev/base.html" %}

{% block title %}
    Day 4: JS & DOM
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Day 4: JS and DOM</h1>
        <h2>Pset 4: DOM Challenge</h2>
        <p>Problem Description: Create a website that has two input fields (one with id r and one with id h), a button (with id button) and a div (with id result). Compute the volume of the cylinder and put the answer in the result div.</p>
        <img src="https://res.cloudinary.com/boyuan12/image/upload/v1657818034/Screen_Shot_2022-07-14_at_10.00.27_AM_dojmyz.png">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="url" class="form-label">URL to your website</label>
              <input type="url" class="form-control" id="url" name="url">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}