{% extends "webdev/base.html" %}

{% block title %}
    Day 1: HTML
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Day 2: CSS</h1>
        <h2>Problem Set #2: CSS</h2>
        <ul>
            <li>Styles must be written in style.css</li>
            <li>Style.css must be linked properly to the HTML</li>
            <li>At least 5 selectors</li>
            <li>At least 2 class selectors</li>
            <li>At least 2 ID selectors</li>
            <li>At least 2 fonts</li>
            <li>At least 2 colors</li>
            <li>At least 1 border usage</li>
            <li>At least 1 flexbox usage</li>
        </ul>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="url" class="form-label">URL to your website</label>
              <input type="url" class="form-control" id="url" name="url">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}